.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  background-color: #f9f9f9;
  align-items: center;
  justify-content: center;
  height: 80vh;
  overflow-y: scroll;
}

.card {
  border: 1px solid rgba(128, 128, 128, 0.436); /* Corrected spacing */
  height: 200px;
  background: #eee8e8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: calc(33% - 1rem); /* Adjust width to fit 3 cards per row with spacing */
  transition: transform 0.3s, box-shadow 0.3s;
}


.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h2 {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.25rem;
  margin: 0 0 0.5rem;
  border-bottom: 1px solid black;
}

.card a {
  text-decoration: none; /* Remove default underline */
  color: #007bff; /* Blue color for links */
  font-weight: bold; /* Make link text bold */
  transition: color 0.3s, text-decoration 0.3s; /* Smooth color transition */
}

.card a:hover {
  color: #0056b3; /* Darker blue on hover */
  text-decoration: underline; /* Underline on hover */
}

.card p {
  font-family: sans-serif;
  font-size: 1rem;
  color: #333;
}

.error {
  color: #ff4d4d;
  font-size: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .card {
    width: calc(50% - 1rem); /* Adjust width for tablets */
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%; /* Full width for mobile devices */
  }
}
